* {
  outline: none;
}

@import "h5bp";
@include h5bp-helpers;
@include h5bp-chromeframe;
//@include h5bp-media;
@import "compass/reset";
@import "compass/css3";
@import "compass/css3/pie";
@import "compass/css3/images";
@import "compass/typography";
@import "blankwork";
@import "compass/layout/grid-background";
@import "compass/css3/box-sizing";
@import "compass/utilities/sprites/base";

$pie-behavior: url(PIE.htc);
@mixin spr-m($map,$ico) {
  background: sprite($map,$ico) no-repeat;
  @include sprite-dimensions($map,$ico) ;
}
@mixin spr($map,$ico) {
  @include images-sprite($ico);
  height: images-sprite-height($ico);
  width: images-sprite-width($ico);
}
@mixin grad($grad) {
  @include background-image($grad);
  -pie-background: $grad;
  background: -ms-#{$grad};
}
@mixin h-line-height($h) {
  height: $h;
  line-height: $h;
}

$h2Color: #54a44b;
@mixin myTextbox($height: 43px, $lheight: 43px, $width: 304px) {
  height: $height;
  line-height: $lheight;
  @include grad(linear-gradient(top, #e1e1e1, #e4e4e4));
  @include pie;
  @include border-radius(50px);
  @include box-shadow(0 2px 1px #ffffff, 0 2px 2px #c9c9c9 inset);
  border: none;
  color: #333;
  font-size: 12px;
  padding: 0 17px;
  width: $width;
  text-shadow: 0 1px 0 #fff;
  output: none !important;

  &::-webkit-input-placeholder {
    color: #333;
    line-height: $lheight;
  }
  &:-moz-placeholder {
    color: #333;
  }
  &.placeholder {
    color: #333;
  }
}

@mixin italicBold {
  font-family: Georgia;
  font-style: italic;
  color: #aaa;
  text-shadow: 0 1px 0 #fff;
}

@mixin btn {
  font-family: 'Franklin Gothic Medium' !important;
  font-style: normal;
  text-shadow: 0px 1px 0px #fff;
  height: 31px;
  line-height: 31px;
  text-decoration: none;
  color: #333 !important;
}

a{
  color: #e7111d;
  text-decoration: underline;
  font-size: 13px;
  &:hover{
    color: #b50101;
  }
}

.db{
  display: block;
}
.dib{
  display: inline-block;
}
.fl_l{
  float: left !important;
}
.fl_r{
  float: right !important;
}
.center{
  overflow: hidden;
}
.tac{
  text-align: center;
}

.nav{
  list-style: none;
}
.nav_hor{
  @extend .nav;
  @include horizontal-list;
}
strong{
  font-weight: 700;
}
table{
  width: 100%;
  border-collapse: separate;
  border-spacing: 2px 2px;
  margin: 0 0 22px;
  th,td{
    color: #333;
    font-size: 13px;
    font-weight: 600;
    width: 25%;
    text-align: center;
    padding: 10px 0 12px;
    &:first-child{
      width: 50%;
      text-align: left;
      padding: 10px 15px 12px;
      @include box-sizing(border-box);
    }
  }

}
thead{
  th,td{
    color: #fff;
  }
}
tbody{
  th,td{
    border-color: #e7e7e7;
    border-style:solid;
    border-width:1px;
    border-collapse:collapse;
    padding:2px;
  }
  tr{
    &:nth-child(odd){
      background: #fafafa;
    }
  }
}
 